{% extends '../../common/tpl/layout.njk'%}

{% block title %}主页{% endblock %}

{% block bodyClass %}body-class{% endblock %}

{% block content %}
{% set name = "Dmoo" %}
  <div>
    hello {{name}}
  </div>
{% block%}